@use 'styles/index' as *;

.smallW {
  max-width: 50rem;
  margin: 0 auto;
}

.mdAuto {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: auto;
  } 
}

.md50 {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  } 
}

.balance {
  text-wrap: balance;
}

.deleteBtn {
  line-height: 1;
  
  svg {
    stroke: var(--imc); 
  } 
}