@use 'styles/index' as *; 


.xSmallW {
  max-width: 25rem;
  margin: 0 auto;
}

.smallW {
  max-width: 50rem;
  margin: 0 auto;
}

.mdAuto {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: auto;
  } 
}

.md50 {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  } 
}

.balance {
  text-wrap: balance;
}

.deleteBtn {
  line-height: 1;
  font-size: 1.25rem;
  
  svg {
    stroke: var(--imc); 
  } 
}

.gdpr {
  color: var(--imc-gdpr);
  font-family: Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  max-height: 15rem;
  overflow: auto;
  background-color: var(--imc-gdpr-bg);
}