@use 'styles/index' as *; 


.tab {
  a {
    color: var(--imc-text-muted);

    &.active {
      border-color: var(--bs-nav-tabs-link-active-border-color) !important;
      color: var(--imc-primary) !important;
      font-weight: bolder;
      border-radius: var(--bs-nav-tabs-border-radius) !important;

      @include media-breakpoint-up(md) {
        background-color: transparent !important; 
        border-bottom-color: var(--imc-bg) !important;
        
      }
    }

   

    &:hover {
      text-decoration: none;
    }
  }
}

.contentMxw {
  max-width: $max-width;
}