// Variables
$border-color: #eee;
$animation-duration: 3s;

// Loop for Orbiting Elements
@for $i from 0 through 3 {

  .orbit#{$i},
  .pos#{$i},
  .dot#{$i} {
    @extend .orbit, .pos, .dot;
    animation-delay: -#{$i}s;
  }
}

// Overlay
.overlay {
  background-color: var(--imc-loader-overlay-bg);
}

// Universe
.universe {
  z-index: 1;
}

// Text
.text {
  z-index: 3;
  font-weight: 100;
  font-size: 1.25rem;
  text-wrap: balance;
  max-width: calc(100% - 2rem);
  color: var(--imc-loader-overlay);
  line-height: 1;
  margin-top: 5rem;
}

// Galaxy Container
.galaxy {
  transform: rotateX(75deg);
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

// Mixin for Circle Styles
@mixin circle-style($size, $animation) {
  border-radius: 50%;
  border: 1px solid $border-color;
  width: 1em;
  height: 1em;
  margin: -0.5em;
  animation: $animation infinite ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateX(-75deg);
  font-size: $size;
}

// Circles (Spinner Elements)
.circle {
  @include circle-style(6em, spinner 1.5s);
}

.circle2 {
  @include circle-style(5em, spinner2 2s);
}

.circle3 {
  @include circle-style(4em, spinner3 2.5s);
}

// Orbit Styles
.orbit {
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: orbit $animation-duration infinite linear;
  width: 8em;
  height: 8em;
  margin: -4em;
  border-radius: 50%;
}

// Positioning
.pos {
  position: absolute;
  width: 2em;
  height: 2em;
  margin: -1em;
  animation: invert $animation-duration infinite linear;
  left: 50%;
  top: -1px;
}

// Dot Styles
.dot {
  background-color: $border-color;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 0.2em;
}


.text span {
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

// Keyframes (Animations)
@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

// Spinner Animations
@keyframes spinner {
  0% {
    transform: rotate3d(1, 0, 1, 0deg);
  }

  50% {
    transform: rotate3d(1, 0, 1, 180deg);
  }

  100% {
    transform: rotate3d(1, 0, 1, 360deg);
  }
}

@keyframes spinner2 {
  0% {
    transform: rotate3d(0, 1, 1, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 1, 180deg);
  }

  100% {
    transform: rotate3d(0, 1, 1, 360deg);
  }
}

@keyframes spinner3 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(1, 1, 0, 180deg);
  }

  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}