.step {
  /*
  //border-color: var(--imc) !important;
  border-width: 2px !important;
  padding: 0.125rem 0.45rem 0.145rem;
  margin-right: 0.5rem;

  span {
    display: inline-block;  
    &:nth-child(1) {
      vertical-align: top;
      font-size: 1rem;
      font-weight: 700;
    }

    &:nth-child(2) {
      transform: rotate(6deg) translate(0, -0.25rem) scale(1.5);
      font-size: 1rem;
      font-weight: 100; 
    }

    &:nth-child(3) {
      vertical-align: bottom;
      font-size: 0.65rem;
      transform: translateY(-0.125rem);
    }
  }
    */
}
