$max-width: 1200px;

$side-menu-width: 300px;

$header-height: 60px;
$header-height-desktop: 80px;

$zindex-page-swipe: 100;
$zindex-side-menu-open-overlay: 99;

// Logo
$logo-menu-max-width: 200px;

