@use "sass:map";
@import './styles';

:root {
  // Boot
  --bs-body-bg: #141618; // input bg
  --bs-border-color: rgb(88, 88, 88);
  --bs-link-color-rgb: 233, 162, 47; // primary rgb

  --imc-primary: #{$primary};

  // Main
  --imc: #FFF;
  --imc-border: var(--bs-border-color);
  --imc-muted: #ccc;
  --imc-bg: #212529;
  --imc-bg-darker: #000000; // Menu item hover

  // Gdpr 
  --imc-gdpr: #dbdbdb;
  --imc-gdpr-bg: #2b3035;

  // Header  
  --imc-header-bg: var(--imc-bg);
  --imc-header: var(--imc);

  // Loader overlay 
  --imc-loader-overlay: #cacaca;
  --imc-loader-overlay-bg: #14161891;


  // Program
  --imc-program-sep-bg: #52565A;

  // Scrollbar
  --imc-scroll-bg: #29292A;
  --imc-scroll-thumb-bg: #52565A;

  // Side Menu
  --imc-menu: var(--imc);
  --imc-menu-caret: var(--imc-menu);
  --imc-menu-bg: var(--imc-header-bg);
  --imc-menu-item-hover-bg: var(--imc-bg-darker);
  --imc-menu-item-active: #{$primary};
  --imc-menu-item-active-bg: var(--imc-header-bg);
  --imc-menu-item-active-hover: #{$primary};
  --imc-menu-item-active-hover-bg: var(--imc-bg-darker);

  // Overlay
  --imc-bg-overlay: rgba(0 0 0 / 60%);

  // Home
  --imc-illus-mobile-max-height: 15rem;
  --imc-illus-desktop-max-height: 17rem;


}


body,
html {
  background-color: var(--imc-bg);
  color: var(--imc);
  @include scrollY();
  @include scrollStyledDark();
}

.fw-bolder {
  font-weight: 900;
}

:global {
  .modal-backdrop {
    --bs-backdrop-bg: #CCCCCC; // modal overlay
  }

  .h-0 {
    height: 0;
  }

  .w-0 {
    width: 0;
  }

  .flex-even {
    flex: 1;
  }

  .visible {
    visibility: visible !important;
  }

  .invisible {
    visibility: hidden !important;
  }

  .sortable {
    cursor: pointer;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.btn {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .form-check-input {
    border-color: #FFF;
  }

  .accordion-button {
    font-weight: bolder;
  }
}